body.index{ background-color: black; padding-top:3%}
body.poem_body{ background-color: black; padding-top:8%}
body.multi_body{ background-color: black; padding-top:4%}
body.babel_body{ background-color: black; padding-top:4%;min-width:30em}


h1{color:white; text-align:center; }

h2{color:white; font-size:1.2em;; text-align:center, font-family: Tahoma}
h2 span{font-size: 0.8em; text-decoration:none}
h2 span.bigger{font-size: 1.05em; text-decoration:none}
h2 span.chinese{font-size: 1.1em;  letter-spacing: .05rem; text-underline-offset: 4px; text-decoration:none}

h3{color:white; font-size:1em;  text-align:center, font-family: Tahoma; margin:0; padding:0}
h4{color:white; font-size:1.2em; text-decoration-line: underline; text-decoration-color: silver; text-decoration-thickness:.5px; text-align:center, font-family: Tahoma}

.title{max-width:40%; min-width:max(25em, 20%); margin:auto; display:block}
.title2{max-width:37%; min-width:max(25em, 20%); margin-bottom:-3.5em; margin-left:auto;  margin-right:auto;display:block}
.subtitle{width:4em;  margin-left:auto;  margin-right:auto;display:block}
.ghost{width:1.5em;  margin:auto; display:block}
.house{width:1em;  margin:auto; display:block}
.saturday{color:white; font-size:1.2em; text-decoration: underline silver .5px; text-align:center, font-family: Tahoma; padding-right:4.2em}
.list { color: white; display: inline-block; text-align: left; line-height:1em; font-family: Times; padding-left:0em; white-space:nowrap; margin-bottom:0em}



.poem { color: white; display: inline-block; text-align: left; line-height:1.25em; font-family: Times; padding-left:0em; white-space:nowrap}
.huang { color: white; display: inline-block; text-align: left; line-height:1.35em; letter-spacing: .05rem; font-family: Times; padding-left:0em; white-space:nowrap}

.london { color: white; display:inline-block;  text-align: left; line-height:1.15em; font-family: Times; margin-top:0em}
.london_right { color: white; text-align: left; line-height:1.25em; font-family: Times; margin-left:50%; font-size:1em; white-space:nowrap; }
.london_right_short { color: white; text-align: left; line-height:0.7em; font-family: Times; padding-left:50%; font-size:1em; white-space:nowrap; width:fit-content }
.london_left { color: white; text-align: left; line-height:1.25em; font-family: Times; margin-right:50%; white-space:nowrap}
.london_left_short { color: white; text-align: left; line-height:1.25em; font-family: Times; padding-left:30%; margin-bottom:-1.5em}



.too_much { color: white; display: inline-block; text-align: left; line-height:.95em; letter-spacing: 0em; font-family: Times; padding-left:2em; white-space:nowrap}
.dedication { color: white; text-align:centre; line-height:1.2em; font:  small-caps 2px/1.25em Georgia, serif; font-size:0.8em; padding-left:0}
.babel { color: white; text-align:centre; line-height:1.25em; font-family: 'Courier New', monospace; font: small-caps; letter-spacing: .15em;font-size:1em; padding-left:0;white-space:nowrap}
.babel2 { color: white; text-align:centre; line-height:1.25em; font-family: Times; font: small-caps;font-size:1em; padding-left:0}
.babel3 { color: white; text-align:centre; line-height:1.15em; font-family: 'Courier New', monospace; font: small-caps;font-size:1em; padding-left:0}


.dedication_sat { color: white; text-align:centre; line-height:1.2em; font-size:0.8em; padding-right:1em}
.poem_topless { color: white; display: inline-block; text-align: left; line-height:1.25em; font-family: Times; padding-left:0em; padding-top:0; margin-top:0; white-space:nowrap}
.poem_her  { color: white; text-align: left; line-height:1.25em; font-family: Times; padding-left:53%; font-size:1em; margin-top:-6em; white-space:nowrap; width:fit-content}
.poem_right { color: white; text-align: left; line-height:1.25em; font-family: Times; padding-left:53%; font-size:1em; white-space:nowrap; width:fit-content }
.poem_left { color: white; text-align: left; line-height:1.25em; font-family: Times; padding-left:35%}
.date { color:grey; font-size:.75em; text-align:center}
.clari { color: white; display: inline-block; text-align: left; line-height:1.25em; font-family: Times; padding-left:0em; margin-top:0em; margin-bottom:0em; white-space:nowrap}
.first { color: white; display: inline-block; text-align: left; line-height:.5em; font-family: Times; padding-left:0em; white-space:nowrap}


.sc{font-variant: small-caps; font-size:1.1em; width:fit-content}
p span.sc_small{font-variant: small-caps; font-size:.9em; line-height:.9em; width:fit-content}
p span.zhong{font-size:.8em}
p span.black{color:black}
p span.nospace{letter-spacing:0em}
p span.babel2 { color: white; text-align:centre; line-height:1.25em; font-family: Times; font: small-caps; letter-spacing: .15em;font-size:1em; padding-left:0}


.babel_index{ color: white; display:inline-block; text-align:centre; line-height:.5em; font-family: 'Courier New', monospace; font: small-caps; letter-spacing: .1em; font-size:1em; padding-left:0}}

.charlotte{display:inline-block; text-align:left; color:white; padding:1.5em;
			transform: scale(-1, 1);
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
			transform: scale(-1, 1);}
			
.charlotte_index{display:inline-block; text-align:left; color:white; 
			transform: scale(-1, 1);
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
			transform: scale(-1, 1);}			
		

.box{
  width: 208em ;
  height: 20em;
  border:0px solid red;
  direction: rtl;  
}


u{text-decoration-thickness:.5px; text-decoration-color: silver}


ul {padding:0; }


li {padding:0; list-style-type:none; text-align:center; margin:.8em; line-height:1 }
li.etude{padding:0; list-style-type:none; text-align:center; margin:.8em; line-height:0.8 }
li.trans {padding:0; list-style-type:none; text-align:center; margin:.8em; line-height:1.1 }


a:link{ color: white ; text-decoration:none}
a:visited{ color: grey}
a:link.saturday{ color: lightsteelblue; text-decoration: none}
a:link.clari { color: lightsteelblue; display: inline-block; text-align: left; line-height:1.25em; font-family: Times; padding-left:0em; margin-top:0em; margin-bottom:0em; white-space:nowrap}
a:link.answer { color: lightsteelblue; display: inline-block; text-align: left; line-height:1.25em; font-family: Times; padding-left:0em; margin-top:0em; margin-bottom:0em; white-space:nowrap}
a:visited.answer { color: lightsteelblue; display: inline-block; text-align: left; line-height:1.25em; font-family: Times; padding-left:0em; margin-top:0em; margin-bottom:0em; white-space:nowrap}



hr{padding:0; width:5%; height: 0px ;color:silver}

#answer1 {
    display: none;}
#answer1:target {    display: inline-block;}
#answer2 {
    display: none;}
#answer2:target {    display: inline-block;}
#answer3 {
    display: none;}
#answer3:target {    display: inline-block;}
#answer4 {
    display: none;}
#answer4:target {    display: inline-block;}
#answer5 {
    display: none;}
#answer5:target {    display: inline-block;}
#answer6 {
    display: none;}
#answer6:target {    display: inline-block;}
#answer7 {
    display: none;}
#answer7:target {    display: inline-block;}
#answer8 {
    display: none;}
#answer8:target {    display: inline-block;}
#answer9 {
    display: none;}
#answer9:target {    display: inline-block;}
#answer10 {
    display: none;}
#answer10:target {    display: inline-block;}
